<div id="map"></div>
<div id="enigmaAnswer"></div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script type="text/javascript">
    // var SERVER = "http://localhost:8080";
    var SERVER = "https://treasure-hunt-pns.herokuapp.com";

    // Init map
    var map = L.map('map').setView([43.6203152, 7.0656119], 15);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'ktung.2jkp045o',
        accessToken: 'pk.eyJ1Ijoia3R1bmciLCJhIjoiY2l4cTY4MThsMDR4dzMycHU4bGk4eGl4MCJ9.oRNkkG9SFOdZ-bEyaw6vxw'
    }).addTo(map);

    // Init areas
    var xhr = new XMLHttpRequest();

    xhr.open("GET", SERVER +"/areas", true);
    xhr.send(null);

    xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)) {
            var areas = JSON.parse(xhr.responseText);
            areas.forEach(function(area) {
                var circle = L.circle([area.center.latitude, area.center.longitude], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: area.radius
                }).addTo(map);
            });
        }
    };

    // Init socket user position
    var socket = io.connect(SERVER +'');
    socket.emit('serverConnect');

    // socket.emit('sendAnswer', {id: "Team1", data:{enigmeId:"5889cb40fbca7d173db3c9a3", answer:"amzdk"}})

    var markers = [];
    socket.on('userPosition', function(data) {
        console.log("position" + data)

        if (markers[data.id] !== undefined) {
            markers[data.id].remove();
        }

        var marker = L.marker([data.position.latitude, data.position.longitude]).addTo(map);
        marker.bindPopup("Team <b>"+ data.id +"</b>")
        markers[data.id] = marker;
    });

    // Init enigma answer
    var xhr2 = new XMLHttpRequest();

    xhr2.open("GET", SERVER +"/enigmaAnswer", true);
    xhr2.send(null);

    xhr2.onreadystatechange = function() {
    if (xhr2.readyState == 4 && (xhr2.status == 200 || xhr2.status == 0)) {
            var enigmaAnswer = JSON.parse(xhr2.responseText);
            enigmaAnswer.forEach(function(data) {
                var enigma = data.enigma;
                var answers = data.answers;

                var divAnswers = $('#enigmaAnswer');
                var enigmaDiv = $('<div/>')
                    .css('border', '2px solid red')
                    .html('name : '+ enigma.name +', enigma : '+ enigma.enigma);
                divAnswers.append(enigmaDiv);

                answers.forEach(function(answer) {
                    if(answer.image) {
                        var answerDiv = $('<div/>')
                                .css('border', '2px solid green')
                                .html('Team : ' + answer.team + ', answer : ' + answer.answer + ', <img src="' + answer.image + '"/>');
                        enigmaDiv.append(answerDiv);
                    } else {
                        var answerDiv = $('<div/>')
                                .css('border', '2px solid green')
                                .html('Team : ' + answer.team + ', answer : ' + answer.answer);
                        enigmaDiv.append(answerDiv);
                    }

                    var btnAccept = $('<button/>')
                    .text("Valider")
                    .click(function(ev) {
                        data = "enigmaAnswer="+answer._id+"&validated=true"
                        xhr2.open("POST", SERVER +"/enigmaAnswer", true);
                        xhr2.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xhr2.send(data);
                        socket.emit('enigmaValidated', {enigmaAnswer: answer._id, validated: true});
                        answerDiv.remove();
                        btnDeny.remove();
                        btnAccept.remove();
                    });
                    var btnDeny = $('<button/>')
                    .text("Refuser")
                    .click(function(ev) {
                        data = "enigmaAnswer="+answer._id+"&validated=false"
                        xhr2.open("POST", SERVER +"/enigmaAnswer", true);
                        xhr2.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xhr2.send(data);
                        socket.emit('enigmaValidated', {enigmaAnswer: answer._id, validated: false});
                        answerDiv.remove();
                        btnDeny.remove();
                        btnAccept.remove();
                    });
                    enigmaDiv.append(btnAccept);
                    enigmaDiv.append(btnDeny);
                });
            });
        }
    };
</script>
